.chat-info-container {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.icon {
	height: 35px;
	width: 35px;
}

.chat-icon {
	padding: 0px 20px 0px 20px;
	align-self: center;
}

.chat-info {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.chat-title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	font-weight: bold;
	flex-grow: 1;
	text-align: left;
	margin: 0px;
	font-size: 18px;
}

.online-status {
	text-align: center;
	font-size: 13px;
	color: rgb(236, 161, 255);
	margin: 0px;
	padding-top: 3px;
}
