.message-line {
	display: flex;
	justify-content: flex-end;
}

@keyframes slideintext {
	from {
		height: 0;
		font-size: 0px;
		width: 0;
		opacity: 0;
	}
	to {
		opacity: 1;
		font-size: 20px;
	}
}

@keyframes slideintime {
	from {
		height: 0;
		font-size: 0px;
		width: 0;
		opacity: 0;
	}
	to {
		opacity: 1;
		font-size: 12px;
	}
}

p.message {
	display: flex;
	justify-content: center;
	word-break: break-word;
	max-width: 400px;
	padding: 2px 2px;
	margin: 1px 1px;
	animation: 0.2s slideintext ease;
}

p.time {
	position: relative;
	display: flex;
	padding: 1px 10px 1px 1px;
	justify-content: flex-end;
	margin: 1px 1px;
	font-size: 12px;
	color: rgb(142, 142, 142);
	animation: 0.2s slideintime ease;
}

.message-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 20px 5px;
	background-color: rgb(245, 227, 255);
	border-radius: 5px;
	margin: 10px 20px 10px 20px;
	animate: 0.2s fadein;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
